* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
  line-height: 1.6;
  color: #333333;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: #0066cc;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-weight: bold;
  font-size: 1.3rem;
  color: #111111;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #555555;
  font-weight: 500;
}

nav a:hover {
  color: #000000;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1.5rem;
}

section {
  margin-bottom: 3rem;
}

h1,
h2 {
  color: #111111;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

p {
  margin-bottom: 1.5rem;
}
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}
.btn {
  display: inline-block;
  background-color: #111111;
  color: #ffffff;
  padding: 3.2rem 3rem;
  border-radius: 4px;
  font-weight: 500;
}
.btn:hover {
  background-color: #333333;
  text-decoration: none;
}

.bio-box {
  padding: 1.5rem;
  margin-top: 1.5rem;
}

.bio-box p {
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
}

.description-box {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.description-box p {
  color: #555555;
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
}

.badges-box {
  background-color: #ffffff;
  border: 1px solid #410000;
  border-radius: 6px;
  padding: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.badges-box p {
  color: #555555;
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
  text-align: center;
}

.exp-box {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.exp-box p {
  color: #555555;
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
}

.acd-box {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.acd-box p {
  color: #555555;
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #ffffff;
  border-top: 1px solid #e0e0e0;
  background-color: #000000;
  margin-top: 4rem;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
